<!-- <!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

    <h1>
        from Templates folder the value sent is - ${key}
    </h1>
</body>

</html> -->


<!DOCTYPE HTML>

<body>

    <div class="starter-template">
        <h2>
            <div>Web Application. Passed parameter : <div th:text="${key}"></div></div>
            from Templates folder the value sent is - <span th:text="${key}"></span>
          
        </h2>
    </div>

</body>
</html>